<div *ngIf="alertMsg" class="notify-alert flex items-center bg-gray-700 text-white bg-opacity-75 p-3 mt-14 rounded fixed top-0 right-0 mr-10">
    <p class="font-extralight mr-2">{{ alertMsg }}</p>
    <button class="p-0 text-white text-sm rounded hover:text-red-400 focus:outline-none" type="button" name="button" (click)="onCloseAlert()">
        <fa-icon [icon]="timesCircle"></fa-icon>
    </button>
</div>
<div class="flex flex-wrap justify-between">
  <div class="p-2 w-full mb-5 md:w-1/3">
    <div class="flex justify-center items-center p-3 border rounded shadow-sm h-36 transition-shadow hover:shadow-lg">
      <div class="flex justify-center items-center w-12 h-12 rounded-full bg-blue-300 text-blue-700">
        <fa-icon [icon]="timesCircle"></fa-icon>
      </div>
      <div class="p-5">
        <h4 class="text-gray-600">Card One</h4>
        <h2 class="text-gray-900 text-5xl">3</h2>
      </div>
    </div>
  </div>
  <div class="p-2 w-full mb-5 md:w-1/3">
    <div class="flex justify-center items-center p-3 border rounded shadow-sm h-36 transition-shadow hover:shadow-lg">
      <div class="flex justify-center items-center w-12 h-12 rounded-full bg-yellow-300 text-yellow-700">
        <fa-icon [icon]="timesCircle"></fa-icon>
      </div>
      <div class="p-5">
        <h4 class="text-gray-600">Card Two</h4>
        <h2 class="text-gray-900 text-5xl">4</h2>
      </div>
    </div>
  </div>
  <div class="p-2 w-full mb-5 md:w-1/3">
    <div class="flex justify-center items-center p-3 border rounded shadow-sm h-36 transition-shadow hover:shadow-lg">
      <div class="flex justify-center items-center w-12 h-12 rounded-full bg-green-300 text-green-700">
        <fa-icon [icon]="timesCircle"></fa-icon>
      </div>
      <div class="p-5">
        <h4 class="text-gray-600">Events</h4>
        <h2 class="text-gray-900 text-5xl">4</h2>
      </div>
    </div>
  </div>
  <!--<div class="p-2 border w-full mb-5 rounded shadow-sm md:w-1/2 lg:w-1/4 hover:shadow-md">Departments</div>
  <div class="p-2 border w-full mb-5 rounded shadow-sm md:w-1/2 lg:w-1/4 hover:shadow-md">Events</div>
  <div class="p-2 border w-full mb-5 rounded shadow-sm md:w-1/2 lg:w-1/4 hover:shadow-md">Users</div>-->
</div>
<p>Content here...</p>
