.wrapper{
  background: url("https://images.pexels.com/photos/346529/pexels-photo-346529.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Source Sans Pro', sans-serif;
}

.overlay {
  background: rgba(0, 0, 0, 0.4);
}
