<div class="flex flex-wrap">
  <div class="shadow border rounded p-5 w-full sm:w-1/2 lg:w-1/3">
    <div class="flex justify-between mb-3">
      <button (click)="clockIn()" class="rounded text-white py-1 px-3 mr-5 focus:outline-none" [ngClass]="(canClockIn) ? 'bg-green-600 hover:bg-green-700':'bg-green-200 cursor-not-allowed'" [disabled]="!canClockIn">Clock In</button>
      <button class="rounded text-white py-1 px-3 focus:outline-none" [ngClass]="(canClockOut) ? 'bg-red-600 hover:bg-red-700':'bg-red-200 cursor-not-allowed'" [disabled]="!canClockOut">Clock Out</button>
    </div>
    <hr>
    <div class="text-center my-3">
      <p class="text-gray-600">9:00 - 17:00</p>
      <p class="text-sm text-gray-400">Working hours</p>
    </div>
  </div>
</div>
<div class="my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
  <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Day
            </th>
            <th scope="col" class="hidden px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider md:table-cell">
              Clocked In
            </th>
            <th scope="col" class="hidden px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider md:table-cell">
              Clocked Out
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr *ngFor="let attandance of attendances">
            <td class="px-6 py-4 whitespace-nowrap">{{ attandance.date | date }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ attandance.clock_in }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ attandance.clock_out }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
