.sidemenu {
  width: 320px;
  left: -320px;
  transition: margin 200ms linear 200ms, left 200ms linear 200ms;
}

.open {
  margin-left: 0;
  left: 0
}

.close {
  margin-left: -320px;
  left: -320px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
