<div class="wrapper" class="h-screen bg-dark-gray flex">
    <div class="bg-gray-700 h-screen lg:block sidemenu" style="width: 320px;">
        <div>
          <h1 class="bg-black bg-opacity-20 border-b-2 border-gray-600 p-5 text-center text-lg font-bold text-gray-100">COMPANY</h1>
        </div>
        <div class="mt-5">
          <a href="#" class="flex py-2 px-10 text-blue-400 hover:text-white">
            <fa-icon [icon]="th"></fa-icon>
            <span class="pl-2">DASHBOARD</span>
          </a>
        </div>
    </div>
    <div class="flex-1 bg-grey-100 main-content">
      <div class="p-5 bg-gray-50 border-b-2 border-fuchsia-600 flex justify-between">
        <h3 class="text-lg text-gray-700">{{ today|date:'EEEE, LLLL d' }}</h3>
        <div>
          <!--<div class="flex h-7 w-7 rounded-full bg-blue-400 text-white justify-center items-center">
            {{ userLetter }}
          </div>-->
          <div class="ml-3 relative">
          <div>
            <button class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" id="user-menu" (click)="onDropdownClick()" aria-haspopup="true">
              <span class="sr-only">Open user menu</span>
              <div class="flex h-7 w-7 rounded-full bg-blue-400 text-white justify-center items-center">
                {{ userLetter }}
              </div>
            </button>
          </div>
          <!--
            Profile dropdown panel, show/hide based on dropdown state.

            Entering: "transition ease-out duration-100"
              From: "transform opacity-0 scale-95"
              To: "transform opacity-100 scale-100"
            Leaving: "transition ease-in duration-75"
              From: "transform opacity-100 scale-100"
              To: "transform opacity-0 scale-95"
          -->
          <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 z-10" *ngIf="dropdownClicked" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Your Profile</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Settings</a>
            <a href="javascript: void(0);" (click)="onSignOut()" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Sign out</a>
          </div>
        </div>
        </div>
      </div>
        <!-- This example requires Tailwind CSS v2.0+ -->
      <div class="p-10">
        <div class="flex flex-col">
          <router-outlet></router-outlet>
          <!--<div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
              <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                  <thead class="bg-gray-50">
                    <tr>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        User
                      </th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Email
                      </th>
                      <th scope="col" class="relative px-6 py-3 text-right">
                        <a routerLink="/users/create" class="inline-block bg-gray-600 hover:bg-gray-800 py-1 px-3 text-white rounded shadow-md"><fa-icon [icon]="userPlus"></fa-icon></a>
                      </th>
                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-gray-200">
                    <tr *ngFor="let user of users">
                      <td class="px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center">
                          <div class="flex h-10 w-10 rounded-full bg-blue-400 text-white justify-center items-center">
                            {{ setInitial(user) }}
                          </div>
                          <div class="ml-4">
                            <div class="text-sm font-medium">
                              <a routerLink="/users/{{ user.id }}" class="text-gray-500 hover:text-gray-600">{{ user.first_name }}&nbsp;{{ user.last_name }}</a>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center">
                            <div class="text-sm font-medium text-gray-900">
                              {{ user.email }}
                            </div>
                        </div>
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                        <a routerLink="/users/{{ user.id }}/edit" class="text-blue-400 hover:text-blue-700"><fa-icon [icon]="edit"></fa-icon></a>&nbsp;
                        <button (click)="onDelete(user.id)" class="text-red-400 hover:text-red-700"><fa-icon [icon]="trash"></fa-icon></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>-->
        </div>
      </div>
    </div>
</div>
